@model IEnumerable<AuthorityManagement.Web.Models.RoleNavigation>
@using  DotNetStudy.Web.ViewModels.MyOrdersModels;
@{
    var path = Context.Request.Path.ToString();
    var user = User;
}
@foreach (var item in Model)
{

    @if (!item.PermissionName.IsNullOrEmpty() && !user.HasClaim(Poseidon.Infrastructure.AppConstants.RoleClaims, item.PermissionName))
    {
        continue;
    }
    if (item.Children.Count > 0)
    {
        bool isCurrent = item.Children.FirstOrDefault(f => f.LinkUrl.ComparePath(path, 3)) != null;
        if (isCurrent)
        {
            <li class="nav-item has-treeview menu-open">
                <a href="javascript:void(0)" class="nav-link active">
                    <i class="nav-icon @item.Icon"></i>
                    <p>
                        @item.Text
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    @await Html.PartialAsync("Partials/_NavigationPartial", item.Children)
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item has-treeview">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="nav-icon @item.Icon"></i>
                    <p>
                        @item.Text
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    @await Html.PartialAsync("Partials/_NavigationPartial", item.Children)
                </ul>
            </li>
        }

    }
    else
    {
        bool isCurrent = item.LinkUrl.ComparePath(path, 3);
        if (isCurrent)
        {
            <li class="nav-item">
                <a href="@item.LinkUrl" class="nav-link active">
                    <i class="nav-icon @item.Icon"></i>
                    <p>
                        @item.Text
                    </p>
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a href="@item.LinkUrl" class="nav-link ">
                    <i class="nav-icon @item.Icon"></i>
                    <p>
                        @item.Text
                    </p>
                </a>
            </li>
        }

    }

}
