
@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}




@model IEnumerable<DotNetStudy.Web.Models.GoodsImgae>
<h5>商品图片管理</h5>
<a class="btn btn-primary" href="/GoodsImgae/AddGoodsImg" role="button">添加图片</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">编号ID</th>
            <th scope="col">商品ID</th>
            <th scope="col">图片名称</th>
            <th scope="col">图片大少</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td>@item.GoodsId</td>
                    <td>@item.GoodsImgaeName</td>
                    <td>@item.Size</td>
                    <td>@Html.ActionLink("更新分类", "UpdateGoodsType", new { id = item.Id })</td>
                </tr>
            }

        }
    </tbody>
</table>
<div>
    <a href="/Goods/ShowGoods">返回</a>
</div>

