
@{
    ViewData["Title"] = "UpdateGoodsType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DotNetStudy.Web.Models.GoodsType
@using (Html.BeginForm("UpdateGoodsType", "GoodsType", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>更新分类</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GoodsTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GoodsTypeId, new { htmlAttributes = new { @class = "form-control", name = "GoodsId" } })
                @Html.ValidationMessageFor(model => model.GoodsTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HigherLevelId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HigherLevelId, new { htmlAttributes = new { @class = "form-control", name = "HigherLevelId" } })
                @Html.ValidationMessageFor(model => model.HigherLevelId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GoodsTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("GoodsTypeId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.EditorFor(model => model.GoodsTypeName, new { htmlAttributes = new { @class = "form-control", name = "GoodsTypeName" } })
                @Html.ValidationMessageFor(model => model.GoodsTypeName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="确定" class="btn btn-default" />@Html.ActionLink("返回", "ShowGoodsType")
            </div>
        </div>
    </div>
}
