@model AuthorityManagement.Web.ViewModels.AccountViewModels.AccountViewModels
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>修改用户</h3>
<form asp-action="UpdateUser" enctype="multipart/form-data" method="post">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-12">
            @if (Model.Avator == null)
            {
                <img class="img-fluid  border profile-user-img" src="/lib/admin-lte/img/boxed-bg.jpg" width="128" />
            }
            @if (Model.Avator != null)
            {
                <img class="img-fluid  border profile-user-img" src="@Model.Avator" width="128" />
            }
            <div class="custom-file mt-2">
                <input type="file" class="custom-file-input" id="avatarFile" asp-for="Avator">
                <label class="custom-file-label w-25">请选择你上传的图像文件</label>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" name="Id" value="@Model.Id" />
            <label asp-for="UserName" class="control-label">用户名</label>
            <input asp-for="UserName" class="form-control w-25" type="text" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">密码：</label>
            <input asp-for="Password" id="password" class="form-control w-25 " type="password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <button id="ShowAndHide" style="background-image: url(/images/1601436293.png);width:64px;height:33px" type="button">显示</button>
        </div> 
        <div class="form-group">
            <div class="col-md-6">
                <label asp-for="Sex" class="control-label w-25">性别</label>
                @Html.RadioButtonFor(item => item.Sex, "男", new { @id = "man", @name = "Sex" })
                <label for="Enable">
                    男
                </label>
                @Html.RadioButtonFor(item => item.Sex, "女", new { @id = "woman", @name = "Sex" })
                <label for="Disable">
                    女
                </label>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label">年龄：</label>
            <input asp-for="Age" class="form-control w-25" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">邮箱：</label>
            <input asp-for="Email" class="form-control w-25" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label">电话：</label>
            <input asp-for="Phone" class="form-control w-25" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Active" class="control-label">是否启用</label>
            @Html.RadioButtonFor(Model => Model.Active, 0, new { @id = "Disable", @name = "Active" })
            <label for="man">
                禁用
            </label>
            @Html.RadioButtonFor(Model => Model.Active, 1, new { @id = "Enable", @name = "Active" })
            <label for="woman">
                启用
            </label>
            <span asp-validation-for="Active" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <label>角色</label>
            @if (Model.Roles != null)
            {
                foreach (var item in Model.Roles)
                {
                    <div class="form-check">
                        @if (Model.SelectedRoles.Contains(item))
                        {
                            <input id="role#@item" name="Role.@item" class="form-check-input" type="checkbox" checked />
                        }
                        else
                        {
                            <input id="role#@item" name="Role.@item" class="form-check-input" type="checkbox" />
                        }
                        <label for="role#@item" class="form-check-label">@item</label>
                    </div>
                }
            }
        </div>
    </div>
    <div class="modal-footer">

        <button type="submit" class="btn btn-primary">
            修改
        </button>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">

        $(function () {

            $("#avatarFile").change(function () {
                var url = null;
                if (window.createObjectURL != undefined) {
                    url = window.createObjectURL(this.files[0]);
                } else if (window.URL != undefined) {
                    url = window.URL.createObjectURL(this.files[0]);
                } else if (window.webkitURL != undefined) {
                    url = window.webkitURL.createObjectURL(this.files[0]);
                }
                console.log(this.files[0]);
                $(".profile-user-img").attr("src", url);
            })
            $("#ShowAndHide").click(                                
                function () {
                    if ($("#ShowAndHide").text() === "显示") {
                        $("#password").removeAttr("type");
                        $("#ShowAndHide").text("不显示");
                    } else {

                        $("#password").attr("type", "password");
                        $("#ShowAndHide").text("显示");
                    }
                }
            )
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

