
@{
    ViewData["Title"] = "ShowGoods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DotNetStudy.Web.Models.GoodsImgae>
<h4>展示商品</h4>
<div class="row">
    @{ foreach (var item in Model)
        {
            <div class="card col-md-3">
                <img src="../images/@item.GoodsImgaeName" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        @item.Goods.GoodsName
                    </h5>
                    <p class="card-text">
                        @item.Goods.Desc
                    </p>
                    <p class="card-text">
                        @item.Goods.Price&yen;
                    </p>
                    <a asp-action="GoodsDetail" asp-route-id="@item.GoodsId " class="btn btn-primary">商品详情</a>
                    <a asp-action="Cart" asp-route-id="@item.GoodsId " class="btn btn-primary">加入购物车</a>
                </div>
            </div>
        }
    }
</div>





