@model DotNetStudy.Web.ViewModels.MyOrdersModels.PayOrderModer

@{
    ViewData["Title"] = "PayOrder";
}

<h3>订单提交</h3>
<form action="/MyOrder/PayOrder" method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label class="control-label">订单号：</label>
                <input type="text" readonly class="form-control" name="OrderNo" value="@Model.OrderNo" />

            </div>
            <div class="form-group">
                <label class="control-label">订单金额：</label>
                <input type="hidden" name="Amount" class="form-control" disabled="disabled" value="@Model.Amount" />
                <input type="text" readonly class="form-control" name="Amount" value="@Model.Amount" />
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label">当前余额：</label>
                <input asp-for="Balance" class="form-control" disabled="disabled" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label">支付方式：</label>
                @Html.RadioButtonFor(Model => Model.PaymentType, 2, new { @id = "Balance", @name = "Payment" })
                <label for="Wechat">
                    余额
                </label>
                @Html.RadioButtonFor(Model => Model.PaymentType, 0, new { @id = "Wechat", @name = "Payment" })
                <label for="Wechat">
                    微信
                </label>
                @Html.RadioButtonFor(Model => Model.PaymentType, 1, new { @id = "Alipay", @name = "Payment" })
                <label for="Alipay">
                    支付宝
                </label>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Amount" class="control-label">支付金额：</label>
                <input type="hidden" name="Amount" value="" />
                <input name="Amount" class="form-control" disabled="disabled" value="@ViewBag.Message" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <button type="submit" class="btn btn-primary">确认支付</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
