@model IEnumerable<DotNetStudy.Web.ViewModels.MyAddressViewModel.MyAddressModel>

@{
    ViewData["Title"] = "Index";
}

<h3>收货信息</h3>
<a href="/Account/UserProfile" class="btn btn-primary">用户详情</a>
<a href="/MyAddress/AddNewAddress" class="btn btn-primary">添加新地址</a>
<table class="table table-striped">
    <tr>
        <td>收货人：</td>
        <td>电话：</td>
        <td>地址：</td>
        <td>详细地址：</td>
        <td colspan="2">操作 </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Receiver</td>
            <td>@item.Phone </td>
            <td>@item.Address</td>
            <td>@item.AddressInfo</td>
            <td>
                <form action="/MyAddress/RemoveById" method="post">
                    <input type="hidden" name="myAddressId" value="@item.Id" />
                    <button type="submit" class="btn btn-primary">移除</button>
                </form>
            </td>
            <td>
                <form action="/MyAddress/Edit" method="post">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button type="submit" class="btn btn-primary">编辑</button>
                </form>
            </td>
        </tr>
    }
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
